html,body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 121, 191);
  overflow-y: hidden;
}

#tasksOverlayContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* display: none; */
  z-index: 10;
}

#tasksOverlay {
  background-color: rgb(235, 236, 240);
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  max-width: 700px;
  border-radius: 5px;
}

#taskImageOverlay {
  display: flex;
  justify-content: center;
  background-color:#091e2a;
  border-radius: 5px;
}

#taskImageOverlay:hover {
  cursor: pointer;
  background-color: hsl(202,65%,12%);
}

.base {
    background-color: rgb(0, 121, 191);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 20px;
    padding: 5px;
    padding-right: 60px;
    max-height: 100vh;
  }

  .addUserContainer {
    position: fixed;
    font-size: 30px;
    right: 100px;
    bottom: 70px;
    color: black;
    /* color: rgb(0, 121, 191); */
    display: flex;
    justify-content: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
    z-index: 1;  
  }

  .addUserContainer:hover {
    cursor: pointer;
    height: 80px;
    width: 80px;
    font-size: 35px;
  }

  

  .addUser {
    height: max-content;
    padding-top: 15px;
    padding-left: 5px;
  }


  
  .header {
    text-align: center;
    background-color:#63A1D3;
    position: relative;
    height: 100px;
  }
  
  #projectName 
{
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    font-size: 15px;
}
  
  .header .logo {
    background-color: rgba(255, 255, 255, 0.3);
    justify-self: center;
  }
  
  .header .right-aligned {
    justify-self: flex-end;
  }
  
  .board {
    display: grid;
    /* grid-gap: 10px;
    grid-template-rows: max-content auto; */
  }
  
  
  .board-lists {
    display: grid;
    grid-auto-columns: 272px;
    grid-auto-flow: column;
    grid-gap: 12px;
    overflow: scroll;
    min-height: calc(100vh - 125px);
  }
  
  .board-list {
    background-color: rgb(235, 236, 240);
    border-radius: 5px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    max-height: calc(100vh - 145px);
    padding: 10px;
    overflow: scroll;
    position: relative;
  }

  .tasksAdd {
    position: absolute;
    right: 20px;
    top: 3px;
    padding: 5px;
    font-size: 20px;
  }

  .tasksAdd:hover {
    cursor: pointer;
    background-color: #c5c8d3;
    border-radius: 5px;
  }
  
  .list-title {
    font-weight: bold;
  }
  
  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    /* padding-top: 2px; */
    padding-bottom: 10px;
  }

  .taskImage img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .taskInfo {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    color:  #737373;
    align-items: center;
  }

  .taskStatusSymbol {
    color: chartreuse;
  }

  .taskDue {
    background-color: #ff6666;
    color: white;
    padding: 3px;
    border-radius: 3px;
  }

  .titleLineBreaks {
    width: 232px;
  }
  
  .add-card {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .topnav {
    background-color: #63A1D3;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    position: absolute;
    left: 15px;
    top: 35px;
  }


  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: rgb(235, 236, 240);
    color: black;
  }
  
  .topnav a.active {
    color: white;
    background-color: rgb(0, 121, 191);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .navButton {
    background-color:#63A1D3;
    margin-right: 10px;
    font-weight: bold;
    padding: 5px;
  }

  .navButton:hover {
    border-radius: 5px;
    background-color:#9cc3e3;
    cursor: pointer;
  }

  .topnav div.active {
    border-radius: 5px;
    background-color:#9cc3e3;
  }

  .taskTitle {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .stagesList li {
    list-style-type: none;
  }

  .list-title {
    font-size: medium;
    text-align: center;
  }

  #flexContainer
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
    padding-left: 50px;
    padding-right: 50px;
  }

  .flexItems 
  {
    background-color: #d9d9d9 ;
    /* background-color: #e6e6e6; */
    width: 330px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 50px;
    position: relative;
    box-shadow: 5px 5px 10px #666666;
  }

  .userEdit {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .userEdit:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
  }

  .userImage {
    text-align: center;
  }

  .userImage img {
    border-radius: 100%;
    margin-top: 60px;
  }

  .userName {
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
  }

  .lineBreaks {
    width: 90%;
  }

  .userDesignation {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-style: oblique;
    font-size: 18px;
    font-family: serif;
  }

  .userInfo {
    font-size: 15px;
    margin-left: 25px;
    margin-top: 15px;
  }

  .userLocation {
    margin-top: 25px;
  }