body {
    background-color: #9cc9c8;
}

#header {
    width: 100%;
    background-color:#254e58;
    text-align: center;
    margin-top: 15px;
    border-style: inset;
    border-radius: 15px;
}

#projectName 
{
    padding-top: 10px;
    padding-bottom: 10px;
    color:#deeded;
}

#main {
    width: 80%;
    float: left;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.forOneUser 
{
    background-color: #254e58;
    color: #deeded;
    float: left;
    margin: 5px;
    width: 30%;
    border-style: ridge;
    border-radius: 15px;
    text-align: center;
}

.userName {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.lineBreaks {
    width: 80%;
    text-align: center;
}

ul.taskList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.taskList > li {
    background-color: #9cc9c8;
    margin: 10px;
    color: #173036;
    border-style: ridge;
    border-radius: 15px;
    border-color: black;
    font-size: 23px;
    padding: 10px;
}

ul.taskList > li:hover {
    background-color: #c9e3e8;
}

.statusDiv {
    margin: 12px;
}

.stagesDiv {
    margin: 12px;
}

.DateDiv {
    margin: 12px;
}

.stagesDiv ul {
    margin: 0;
    list-style: none;
}

.stagesList {
    padding-left: 25%;
}

.stagesList li 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    margin: 5px;
}

.titleLineBreaks {
    height:2px;
    width: 70%;
    border-width:0;
    color: black;
    background-color:black;
}

@media (max-width: 1300px) {
    .forOneUser {
        width: 45%;
    }
}

@media (max-width: 900px) {
    .forOneUser {
        width: 80%;
    }
}

.topnav {
    background-color: #254e58;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #deeded;
    color: black;
  }
  
  .topnav a.active {
    color:#173036;
    background-color: #9cc9c8;
  }

  .addTask {
    background-color:  #9cc9c8; 
    border-radius: 5px;
    border-color: black;
    color: #173036;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 12px;
  }

  .addTask:hover {
    background-color: #deeded;
  }